<div *ngIf="student" class="user" >
  <mat-card class="user-card">
    <mat-card-title>Student List </mat-card-title>
  <mat-card-content [appHoverHighlight]="'cyan'">ID: {{student.id}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'cyan'">Student Full Name : {{student | studentName | uppercase}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'cyan'">course : {{student.course | lowercase}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'cyan'">fees : {{student.fees| currency}}</mat-card-content>
    <mat-card-content [appHoverHighlight]="'cyan'">studentNo : {{student.studentNo}}</mat-card-content>
  </mat-card>
</div>

