<div class="container">
  <h1>User List</h1>

    <div class="user "*ngFor="let user of user3;">
      <p>ID: {{user.id}}</p>
      <p> Firstname: {{user.firstName}}</p>
      <p> lastName: {{user.lastName}}</p>
      <p> course: {{user.course}}</p>
      <p> StudentNo: {{user.studentNo}}</p>
      <p> isAdmin:{{user.isAdmin}}</p>
      <button type="button" (click)="delete(user.id)">Delete</button>
      <button type="button" (click)="edit()">Edit</button>

</div>
</div>
<div *ngIf="error" class="error">{{ error }}</div>

